Flask==2.3.2
pyrebase4
requests
urllib3
certifi
chardet
charset_normalizer
idna
oauth2client
cachetools
httplib2
pyparsing
uritemplate
protobuf
pyasn1
rsa
proto-plus
msgpack
cachecontrol
pyasn1-modules
gcloud
requests_toolbelt
python_jwt
jwcrypto
cryptography
deprecated
wrapt
Crypto
pycryptodome
blinker==1.6.2
click==8.1.3
colorama==0.4.6
importlib-metadata==6.7.0
Jinja2==3.1.2
MarkupSafe==2.1.3
Werkzeug==2.3.6
itsdangerous==2.1.2
waitress