{% extends 'base.html' %}

{% block head %}

<!-- {% block title %} Dental AI {% endblock %} -->
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        h2 {
            color: white;
            text-align: center;
            font-family: monospace;
            font-size: 30px;
        }
        
        
        
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
            color: rgb(14, 89, 250);
            border: 1px solid rgb(14, 89, 250);
            border-radius: 5px;
            /* margin: 30px; */
            
            font-size: 15px;
            font-family: monospace;
            font-weight: bold;
            height: 40px;
            width: 80px;
            transition: 0.4s;
            /* padding: 10px; */
            margin-top: 30px;
            margin-left: 20px;
            margin-right: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        a:hover {
            color: black;
            border: 1px solid rgb(14, 89, 250);
            border-radius: 5px;
            background: rgb(14, 89, 250);
        }

        p {
            font-size: 14px;
            font-family: monospace;
            color: rgb(14, 89, 250);
            text-align: center;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 50px;
            margin-bottom: 40px;
        }
        
        .img {
            width: 50%;
            height: 70%;
        }

        @media (max-width: 1200px) {

            body {
                display: block;
            }

            .img {
                width: 70%;
                height: 70%;
            }
            
        }
    </style>

{% endblock %}


{% block body %}
    
    <div class="img-box">
        
        <img src="/static/images/fluoride.png" alt="#" id="img" class="img">
    </div>

    <div class="main">
        <h2>Dental AI</h2>
        <p>Welcome new specimen. <br>AI accpets and analyzes dental images and provides you with information about their health state, <br> Answering questions about your teeth. <br>Speed depends on your internet connection.</p>

        <div class="links">
            <a href="signin-page">Login</a>
            <a href="signup-page">Sign up</a>
        </div>
    </div>

    



{% endblock %}